* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  direction: rtl;
  /* scrollbar-width: thin; */
  scroll-behavior: smooth;

  /* overflow-x: hidden; */
  /* text-align: right; */
}

@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
/*font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Syncopate', sans-serif; */
body {
  text-align: right;
}
.centered45 {
  transform: rotate(45deg);

  position: absolute;
  top: 43%;
  left: 35%;
  color: rgb(248, 4, 4);
  font-size: 24px;
  z-index: 1;
  /* transform: translate(-50%, -50%); */
}

.inStoreCategoryButton .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}
.inStoreCategoryButton {
  position: relative;
  text-align: center;
  color: white;
  transition: transform 0.2s;
}
.searchPage .inStoreCategoryButton > img {
  height: 300px;
}

.subcategoryButtonsDiv {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  /* justify-content: center; */

  /* overflow-y: visible; */
  /* -ms-overflow-style: none; */
  /*hide scroll bar IE and Edge */
  /* scrollbar-width: none; */
  /*hide scroll bar Firefox */
}
.wallProductCardContainer {
  margin: auto;
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  /* max-width: 250px; */
  /* align-items: center; */
  justify-content: center;
}

.wallProductCardContainer img,
.wallProductCardVariationsGallery {
  width: 100%;
}
.readMore {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  /* position: sticky; */
  /* bottom: 0; */
  /* padding: 20px; */
  /* background-color: white; */
  /* width: 100%; */
}
.wallProductCardContainer > div:nth-of-type(1) {
  /* overflow-y: scroll; */
  /* max-height: 450px; */
}
.PostDescriptionRow {
  overflow-y: hidden;
  max-height: 70px;
}
.wallProductCardVariationsGallery {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}
.wallProductCardVariationsGallery .scrollButtons {
  font-size: 24px;
}
div.wallProductCardVariationsGallery {
  padding-left: 0px;
}
.wallProductCardVariationsGallery .rightScroll,
.wallProductCardVariationsGallery .leftScroll {
  margin: 12px;
}
.newItemPostContainer {
  text-align: right;
  border-top: 10px solid;
  border-color: rgb(212, 212, 212);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.notActiveMessage .btn {
  margin: 10px;
}
.newItemPostContainer span > img {
  height: 34px;
}
.newItemPostContainer > span:nth-of-type(2) {
  font-size: 10px;
  font-weight: 300;
  white-space: nowrap;
}
.newItemPostContainer > span:nth-of-type(1) {
  font-size: 20px;
  white-space: nowrap;
}
.wallProductCardInfo {
  padding-right: 25px !important;
  /* margin-right: 10px !important; */
}
.wallProductCardVariationsGallery img {
  height: 100px;
  transition: transform 0.2s;
}
.wallProductCardVariationsGallery img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.productCardsRow::-webkit-scrollbar {
  /* display: none; */
  /* //hide scroll bar chrome */
}
.inStoreCategoryButton:hover {
  transform: scale(1.2);
  cursor: pointer;
  z-index: 10;
}
.subcategoryButtonsDiv:hover {
}
.storeCategoriesCarousel {
  display: none;
}
.editItemsPage .scrollButtons {
  top: 58%;
}
.profilePage {
  margin-top: 100px;
}
.profilePage .btn {
  width: 100%;
}
.forgotPassword {
}
.wall {
  padding-top: 90px;
  max-width: 50%;
  min-width: 320px;
  margin: auto;
}

.wall textarea.form-control {
  min-height: 127px;
}
.postComponent {
  border-radius: 5px 5px 0px 0px;
  /* width: 50%;
  min-width: 300px;
  margin: auto; */
}
.formBar {
  background-color: lightgrey;
  /* height: 40px; */
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  /* justify-content: left; */
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}
.formBar svg {
  font-size: 39px;
  transition: transform 0.2s;
  /* margin: auto; */
}
.formBar .btn.btn.btn-warning {
  margin-top: 0px;
  width: 100%;
}
.formBar .btn {
  width: 100%;
}
.formBar div div .btn {
  margin: 5px 0px;
  width: 100%;
  /* max-width: 50%; */
  /* margin: 0px 5px 0px 5px; */
  /* height: 39px; */
  white-space: nowrap;
}
.formBar > div div {
  margin: 0px 5px;
}
.formBar .form-group {
  display: flex;
}
.formBar .form-control {
  width: 100%;
  padding: 5px;
}
.emoji-picker-react .emoji-categories {
  padding: 0px !important;
  width: 100%;
}
/* 
aside.emoji-picker-react {
  display: none ;
  height: 40px !important;
}
aside.emoji-picker-react:hover {
  display: none ;
  height: 320px !important;
} */

.formBar svg:hover {
  cursor: pointer;

  transform: scale(1.2);
}

.forgotPassword:hover {
  color: rgb(75, 75, 253);
  text-decoration: underline;
  cursor: pointer;
}
.scrollButtons {
  position: absolute;
  display: flex;
  color: rgba(255, 255, 255, 0.705);
  justify-content: space-between;
  font-size: 80px;
  top: 30%;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}
.rightScroll {
  margin-right: 50px;
  border-radius: 50%;
  background: #ffffffd4;
  /* padding: 2em; */
  color: #000000b8;
  pointer-events: painted;
}

.leftScroll {
  margin-left: 50px;

  border-radius: 50%;
  background: #ffffffd4;
  /* padding: 2em; */
  color: #000000b8;
  pointer-events: painted;

  /* padding: 2em; */
}
.leftScroll:hover,
.rightScroll:hover {
  color: #ffffff;
  background-color: lightgray;
  cursor: pointer;
}
.row {
  overflow: hidden;
}
.productCardsRow .scrollButtons {
  display: none;
}

.postNavBar {
  background: #26acff;
  font-size: 30px;
  color: white;
  position: sticky;
  top: 0;
  margin-right: -17px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
.postNavBar svg {
  transition: transform 0.2s;
  z-index: 1000000;
}
.postNavBar svg:hover {
  transform: scale(1.2);
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .wallProductCardContainer div:nth-of-type(2) {
    max-height: 150px;
    overflow: hidden;
  }
  /* .newItemPostContainer > span:nth-of-type(2) {
    font-size: 10px;
    font-weight: 300;
  } */
  .newItemPostContainer > span:nth-of-type(1) {
    font-size: 12px;
  }
  .subcategoryButtonsDiv .scrollButtons {
    display: none;
  }
  .productCardsRow .scrollButtons {
    display: flex;
    font-size: 40px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 48px;
    height: 69px;
  }
  .carousel-indicators {
    padding: 0px;
  }
  .productCardsRow.row {
    justify-content: right;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #1d1237;
  }

  .inStoreCategoryButton {
    display: none;
  }
  .storeCategoriesCarousel,
  .storeCategoriesCarousel img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  /* .inStoreCategoryButton {
    position: relative;
    text-align: center;
    color: white;
  }*/
  .searchPage .storeCategoriesCarousel img {
    max-width: 100%;
    width: 100vmax;
    height: auto;
  }
  /*
  .subcategoryButtonsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding-bottom: 3px;
  } */
}
.App {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
  /* min-width: 800px; */
}
/* .wall .row {
  min-height: 100vh;
} */
.controlPanelBar {
  margin-left: 20px;
}
.modal-dialog {
  margin-top: 6.75rem !important;
  min-width: 300px;
  /* max-width: 80%; */
}
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.664);
  z-index: 1000000000000000;
}
.modal {
  /* direction: rtl; */
}
/* .modal-dialog {
  margin: 6.75rem auto !important;
}
.modal {
  max-width: 80%;
  margin: auto;
  right: 5%;
  text-align: right;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem 1rem -1rem;
}
.modal-backdrop.fade {
  width: 100%;
} */
.modal-content {
  text-align: right;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.printOnly {
  display: none;
}

@media print {
  .printOnly {
    display: block;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.link {
  color: rgb(41, 41, 211);
  text-decoration: underline;
}
.link:hover {
  color: black;
  transform: scale(1.2);
}

.App-link {
  color: #61dafb;
}
.instoreCategoryNames {
  margin-bottom: 5px;
}
.instoreCategoryNames:hover {
  cursor: pointer;
  color: lightgray;
  text-decoration: underline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.registerContainer > button {
  width: 100%;
}
.registerPage {
  background-image: url("https://images.pexels.com/photos/2422286/pexels-photo-2422286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  padding-top: 150px;
  padding-bottom: 100px;
  /* padding-right: 500px;
  padding-left: 100px; */
}
.registerContainer {
  max-width: 550px !important;
  /* min-width: 350px; */
  background-color: rgba(255, 255, 255, 0.61);
  padding: 25px;
  border-radius: 10px;
  border-style: outset;
  border-width: 1px;
}
.ControlPanelPage > .navbar-expand-lg > .container,
.navbar-expand-md > .container-fluid,
.navbar-expand-md > .container-lg,
.navbar-expand-md > .container-md,
.navbar-expand-md > .container-sm,
.navbar-expand-md > .container-xl {
  justify-content: space-evenly;
}
.ControlPanelPage > .navbar-expand-lg .navbar-nav .nav-link {
  margin: 0px 30px 0px 30px;
  overflow: hidden;
}
.ControlPanelPage nav.nav-tabs {
  justify-content: center;
  justify-content: space-evenly;
}
.myNavBar {
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  /* overflow: hidden; */
}
.mikra {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar.navbar-expand-xl.navbar-light.bg-light {
  background-color: white;
  white-space: nowrap;
  z-index: 10000000000000000000;
}
.postPictures {
  /* height: 100px; */
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.postPictures img {
  height: 100px;
  transition: transform 0.2s;
}
.postPictures div {
  display: flex;
  width: 100px;
  flex-direction: column;
}
/* .postPictures img:hover {
  transform: scale(3);
} */
.orderRow:hover + .hidden {
  display: contents;
}
.myOrderPage .hidden:hover {
  display: contents;
}
.navbar.navbar-expand-xl.navbar-light.bg-light a.nav-link {
  color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: lightskyblue;
  color: white !important;
}
.transactionsList td {
  white-space: nowrap;
}
.transactionsList td:hover {
  cursor: pointer;
}
.myOrderPage {
  padding-top: 100px;
}
.wallMessages {
  margin-top: 90px;
  /* text-align: right; */
  padding: 10px;
}
.registerContainer > p {
  margin-right: 0px;
}
.container > form > .form-group {
  margin-bottom: 0px;
}
.FormRejects {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: right;
  color: red;
}
.container .form > .form-group {
  margin-bottom: 0px;
}
label.form-label {
  margin-top: 1rem;
}
.registerPage .registerContainer button {
  margin-top: 15px;
}
.registerPage > .registerContainer > p:first-of-type {
  font-size: 48px;
}
.productUploadContainer {
  background-color: rgba(255, 255, 255, 0.747);
  padding: 25px;
  border-radius: 10px;
  border-style: outset;
  border-width: 2px;
  margin-top: 70px;
  border-color: rgba(128, 128, 128, 0.26);
}
.subCategoriesDiv {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Uploadpage,
.OrderSummeryPage {
  background: linear-gradient(
    45deg,
    rgb(163, 238, 232) 0%,
    rgb(217, 233, 230) 46%,
    rgb(160, 247, 238) 70%
  );
  padding: 70px 10% 20px 10%;
  /* margin-top: 86px; */
}
.productCardContainer > div > img {
  max-height: 100%;
  margin: auto;
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.productCardContainer:hover {
  cursor: pointer;
}
.productCardsRow {
  /* margin-top: 30px; */
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  /* margin-bottom: 42px; */
}
.stickyNav .btn.btn-success {
  margin: 10px;
}

.orderSummeryContainer .lowerForms,
.orderSummeryContainer .btn.btn-success {
  width: max-content;
  margin: auto;
  text-align: center;
}
.orderSummeryContainer > .btn.btn-primary:first-of-type {
  width: 85%;
}
.orderSummeryContainer .btn.btn-primary:nth-of-type(3),
.orderSummeryContainer .btn.btn-danger {
  width: 85%;
  height: 60px;
  margin: auto;
  margin-top: 30px !important;
  margin-bottom: 39px;
}
.rejectOrderForm {
  width: 50% !important;
  height: 100px !important;
}

.orderSummeryContainer .lowerButtons:nth-of-type(2) {
  margin-top: 10px !important;
  width: 70%;
  margin-bottom: 20px;
}
/* .orderSummeryContainer .btn:nth-of-type(3-4) {
  margin-top: 30px;
} */
.type2card {
  position: relative;
  /* overflow: hidden; */
  max-width: 240px;
  min-width: 240px;
  /* max-width: 300px; */
  height: 373px;
  /* height: auto; */
  border: 1px solid black;
  border-color: #eaefe9;
  background-color: white;
  /* margin: auto; */
  margin: 20px;
  border-radius: 10px;

  /* margin-bottom: 30px; */
}
.borderRight {
  border-right: 0.1px solid black;
}
.productCardDiscounts span {
  padding: 2px;
}
.overflowScroll {
  overflow-x: scroll;
}
.productCardDiscounts {
  margin-bottom: 5px;
  direction: ltr;
  transition: transform 0.2s;
  font-size: 12px;
  /* padding: 5px; */
  color: black;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fcc3ad;
  font-weight: 600;
  /* border: 0.1px outset black; */
  /* border-radius: 5px; */
  /* margin: 3px; */
  display: flex;
  justify-content: center;
  z-index: 1000000;
  /* justify-content: space-evenly; */
}
.productCardDiscounts:hover {
  overflow: overlay;
  transform: scale(1.05);
}

.discountClassCenterHidden {
  font-size: 12px;
  padding: 5px;
  color: black;
  width: fit-content;
  background-color: #f7aa8c;
  font-weight: 600;
  border: 0.1px outset black;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  position: absolute;
  top: 30%;
  /* right: 50%; */
}
/* .nav-link {
  text-align: right;
} */
.allOrdersPage {
  padding: 10px;
  padding-top: 100px;
  margin-bottom: 50px;
  overflow: hidden;
  background: white;
  width: 100%;
  margin: auto;
  /* overflow: scroll; */
  margin-bottom: 400px;
}
.allOrdersTableDiv {
  overflow: scroll;
}
/* .allOrdersTableDiv:hover {
  overflow: scroll;
} */
.allOrdersPageForms {
  /* width: 80%; */
}

/* @media only screen and (max-width: 600px) {
  .allOrdersPage .table {
    transform: scale(0.5);
    margin: auto;
  }
} */

.rdrStaticRangeLabel {
  text-align: center !important;
}
@media only screen and (max-width: 1200px) {
  .profileIcon {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
}

@media only screen and (max-width: 600px) {
  .productCardDiscounts {
    overflow: scroll;
  }
  .stickyNav .fixed-bottom {
    padding-bottom: 40px;
  }
  .productCardsRow .type2card {
    /* margin-left: 70px;
    margin-right: 70px; */
  }
  .type2card .table {
    max-width: 100%;
    overflow: scroll;
  }
  .dateRangeDiv {
    overflow: hidden;
  }
  /* .dateRangeDiv:hover {
    overflow: scroll;
  } */

  .allOrdersPageForms {
    /* overflow: scroll; */
  }
  /* .allOrdersPageForms:hover {
    overflow: scroll;
  } */
  .rdrDefinedRangesWrapper {
    margin-right: -112px;
  }
  .rdrDateRangePickerWrapper {
    transform: scale(0.5);
  }
}
.allOrdersPage .form-control {
  max-width: 400px;
  width: 80%;
  margin: auto;
}
.allOrdersPage table {
  margin: auto;
  width: 740px;
  /* height: 40px !important; */
}
/* .allOrdersPage table:hover {
  overflow: scroll;
} */
.homePageCol {
  overflow-x: hidden;
}
.categoryPageRow.row {
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.dropdown-menu {
  text-align: center !important;
}
.rdrDays {
  direction: ltr !important;
}
.type2card.nav-link {
  padding: 0px;
}
.type2cardImage {
  position: relative;
  text-align: center;
  color: white;
}
.type2cardImage img {
  height: auto;
  width: 100%;
  /* margin-top: 20px; */
  border-radius: 10px 10px 0px 0px;
  /* margin-bottom: 10px; */
}
.type2card:hover {
  cursor: pointer;
}

.productCardContainer.col-xl-2 {
  border-style: outset;
  border-width: 0.1px;
  max-width: 192px;
  min-width: 192px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 290px;
  align-content: flex-start;
  padding: 0px !important;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.856);
}
.absoluteCardNotice {
  position: absolute;
  font-size: 10px;
  background-color: rgba(250, 214, 214, 0.877);
  border-radius: 0px;
}
.CardUnitsForm {
  display: flex;
  justify-content: center;
  height: 40px;
  /* width: 172px; */
  margin: auto;
}
.CardUnitsForm .form {
  font-size: 8px;
}
.infoAndButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.infoAndButtons > span:first-of-type {
  overflow: scroll;
  max-width: 184px;
}
.CardUnitsFormContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  /* margin-bottom: 5px; */
  /* margin-top: 15px; */
  /* justify-content: center; */
}

.CardUnitsFormContainer .form-control {
  max-width: 150px;
  /* width: fit-content; */
  text-align: center;
  /* margin-top: 10px; */
}
.productPageContainer .CardUnitsFormContainer {
  width: 100%;
  display: flex;
  /* margin-bottom: 50px; */
}
.CardUnitsFormContainer button {
  margin: auto;
  background-color: white;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: 900;
}
.lowerProductCard .cardInfo {
  color: black !important;
  width: 30px;
  margin-left: 20px;
  border-radius: 50%;
  /* background-color: #f7aa8c; */
  height: 30px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 4; */
}
.productPageContainer .CardUnitsFormContainer {
  position: static;
  margin-bottom: 20px;
}

.orderSummeryContainer > .btn:last-of-type {
  width: 70%;
  margin-top: 30px;
  height: 60px;
  margin-bottom: 39px;
}
.orderSummeryContainer .form-control:disabled {
  width: fit-content;
  text-align: center;
  padding: 0px;
  max-width: 88px;
}
.orderSummeryContainer .form-control.w-50.m-auto {
  height: 100px;
}
.hidden {
  position: absolute;
  display: none;
}

.cardInfo:hover + .hidden {
  display: block;
  font-size: 10px;
  bottom: 0px;
  z-index: 100;
  left: 0px;

  overflow-y: scroll;
}
table.hidden:hover {
  display: block;
  font-size: 10px;
  bottom: 70px;
  z-index: 100;
  left: 0px;
  width: auto;
  bottom: 0px;
}
.messagesBoardText {
  margin: auto;
  text-align: right;
  /* min-width: ; */
  max-width: 80%;
  color: #1d1237;
  border: 1px solid black;
  background: whitesmoke;
  z-index: 100000000000000000000000000000;
  padding: 10px;
  /* display: none; */
}

.ticker:hover {
  cursor: pointer;
}
.ticker:hover + .hidden {
  display: block;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.messagesBoardText.hidden:hover {
  display: block;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.productCardContainer.smallerProductCard {
  margin: 10px;
}
.lowerProductCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-right: 5px;
}
.cardButtonsContainer {
  display: flex;
}
.cardButtonsContainer > button {
  font-size: 12px;
}
.lowerProductCard > div {
  font-size: 13px;
  font-weight: 700;
  color: black;
}

.productUploadContainer .btn {
  margin-top: 10px;
  width: 100%;
}
/* .varUploadForm {
  padding: 20px 20px 20px 20px;
} */
.inner-cropper {
  margin-bottom: 10px;
}
.inner-cropper button,
input {
  overflow: hidden;
}
.ReactCrop__image {
  overflow: hidden;
}
.homePage {
  background-color: white;
  display: flex;
  /* padding: 40px 0px 40px 26px; */
  flex-wrap: wrap;
  justify-content: center;
  min-height: 200vh;

  flex-direction: row;
}
.homePage .row {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-content: flex-start;
}

.homePage .productCardContainer {
  /* overflow: hidden; */
  margin: auto;
  margin-bottom: 31px;
}
.homePage .col {
  padding: 0px;
}
.productCardContainer .productCardContainer .row .nav-link {
  font-size: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 2px;
  border-radius: 10px;
  margin-left: 12px;
  margin-top: 7px;
  color: rgb(8, 64, 247);
  font-weight: 500;
  border: outset gainsboro 1px;
}

.imageContainer {
  height: 192px;
  margin: auto;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.productChangeSearchButton {
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: wheat;
  border: outset;
  margin-top: 20px;
}
.categoryContainer:hover {
  cursor: pointer;
  -webkit-animation: shadow-inset-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.shadow-inset-center {
  -webkit-animation: shadow-inset-center 0s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: shadow-inset-center 0s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-16 11:27:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
.zoomCard {
  transition: transform 0.2s; /* Animation */
}

.zoomCard:hover {
  z-index: 2;

  transform: scale(1.15); /* (150% zoom)*/
}

.upperProductEdit {
  display: flex;
  flex-wrap: wrap !important;
}
.EditVariationsCard {
  /* width: 500px; */
  height: 400px;
  border: outset;
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0.863);
  margin: auto;
  margin-top: 25px;
  font-size: small;
}
.EditVariationsCard img {
  max-width: 150px;
  max-height: 100px;
  border-radius: 0px 5px 0px 0px;
}
.EditVariationsCard > div:first-of-type {
  display: flex;
  justify-content: space-between;
  background-color: rgba(197, 196, 194, 0.795);
}
.EditVariationsCard > div:first-of-type > div:nth-of-type(1) {
  display: flex;
  margin: auto;
  font-size: 20px;
}

.nav-link.productCardContainer {
  padding: 0px;
}

.dropDownBtn {
  font-size: 10px;
  /* margin-left: 50px; */
}
.stickyNav {
  position: sticky;
  bottom: 0px;
  /* flex-grow: 1; */
  /* background-color: #132347 !important; */
  /* direction: unset !important; */

  z-index: 100;
}
.storePageRow.row {
  padding: 0px;
  padding-bottom: 0px;
  /* overflow: hidden; */
}

/* ::-webkit-scrollbar {
  width: 1px !important;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #343a40;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(20, 19, 19);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.orderInfoWindow.table.table-light.table-sm.table-striped.table-bordered.table-hover {
  background-color: rgba(255, 255, 255, 0.897);
}
.table td,
.table th {
  vertical-align: middle !important;
}
.BulkEditingPage img {
  height: 90px;
}

.BulkEditingPage thead {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  height: 97px;
}
.myItemsSearch .row {
  justify-content: center;
}
.myItemsSearch .form-group {
  margin: 10px;
}
.myItemsSearch .row:nth-of-type(1) .form-group {
  width: 50%;
}
.outOfStock {
  position: absolute;
  top: 50%;
  right: 50%;
}
.myItemsSearch .row:nth-of-type(2) .form-group {
  width: 200px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1268px) {
  .BulkEditingPage .form-control {
    text-align: center;
    align-items: center;
    font-weight: 800;
    /* border: none; */
    min-width: max-content;
    /* background-color: lightgrey; */
  }

  .BulkEditingPage {
    width: 100%;
    overflow-y: hidden;
    height: fit-content;
  }
  .BulkEditingPage:hover {
    overflow-y: scroll;
  }
}

.BulkEditingPage .form-control {
  text-align: center;
  align-items: center;
  font-weight: 800;
  /* border: none; */
  min-width: max-content;
  /* background-color: lightgrey; */
}

.myItemsSearch {
  margin-top: 80px;
  padding: 15px;
  background-color: rgb(255, 154, 38);
}
.BulkEditingPage {
  width: 100%;
  height: fit-content;
}
.BulkEditingPage:hover {
}

.table-bordered thead td,
.table-bordered thead th {
  white-space: nowrap;
}
.myOrderPage .orderSummeryContainer {
  border: none;
}
.orderSummeryContainer {
  padding: 0px 15px 0px 15px !important;
  margin-top: 50px;
  /* opacity: 0.9; */
  /* background-image: url("https://images.pexels.com/photos/7354627/pexels-photo-7354627.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  border-radius: 10px;
  border: outset;
  background-color: white;
  /* min-width: 1140px; */
  /* width: 2480px; */
  width: 100%;
}
@media print {
  .allOrdersPage {
    overflow: visible;
    padding-top: 0px;
  }
  html,
  body {
    width: 210mm;
  }
  .orderSummeryContainer {
    width: 100%;
    border: 0px;
  }
  .OrderSummeryPage {
    padding: 0px;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.OrderSummeryPage > .printButton.btn {
  position: fixed;
  right: 20px;
  top: 60px;
  width: 100px;
  margin-top: 32px;
}
.allOrdersPage > .printButton.btn {
  position: fixed;
  right: 20px;
  top: 60px;
  width: 100px;
  margin-top: 32px;
}
.OrderSummeryPage td {
  border: 0.1px solid black !important;
}
.ControlPanelPage a.nav-link {
  color: black;
  border-radius: 5px;
  font-family: monospace;
  font-weight: 700;
}
.ControlPanelPage nav.nav-tabs {
  background-color: #f7aa8c;
  border-radius: 5px;
}
.ControlPanelPage .nav-item.nav-link:hover {
  background-color: rgb(247, 188, 188);
}
.ControlPanelPage .nav-item.nav-link.active {
  background-color: rgb(52, 106, 255);
  color: white;
}
.ControlPanelPage > button {
  background-color: rgb(249 238 238);
}
.ControlPanelPage {
  /* background: linear-gradient(
    45deg,
    rgb(163, 238, 232) 0%,
    rgb(217, 233, 230) 46%,
    rgb(160, 247, 238) 70%
  ); */
  /* background: teal; */
  /* padding: 20px; */
  margin-top: 86px;
}
.ControlPanelPage .registerPage {
  background: #eaf3ff;
  padding-top: 36px;
  padding-right: 0px;
  height: 100vh;
}
.ControlPanelPage .registerContainer {
  width: 80% !important;
}
.navbar {
  z-index: 2;
}
.search {
  margin: auto;
  width: 50%;
  min-width: 300px;
}
.searchContainer {
  height: 100px;
  background: transparent;
  display: flex;
  /* margin-top: -17px; */
  /* margin-bottom: 36px; */
  /* border-radius: 10px; */
  /* border: outset; */
  flex-direction: row;
  margin: none;
}

.searchPage {
  width: 100%;
  background-color: #1d1237;
  /* background-image: url("https://images.pexels.com/photos/999089/pexels-photo-999089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  margin-top: 80px;
  /* height: 234px;
  display: flex;
  flex-direction: column;
  padding: 20px; */
  /* width: 100%;
  background: #eaf3ff; */
  /* background-image: url(https://images.pexels.com/photos/999089/pexels-photo-999089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
  /* margin-top: 34px;
  height: 122px;
  display: flex;
  padding: 5px; */
}
.myNavBar img {
  height: 80px;
}
.searchPage img {
  height: 100px;
}
.searchContainer img {
  position: absolute;
  left: 0px;
  max-width: 100%;
}
/* .searchContainer > p {
  position: absolute;
  left: 60px;
  position: absolute;
  left: 69px;
  top: 236px;
  font-size: 24px;
  font-family: "Rampart One", cursive;
  background-color: white;
  color: black;
} */
.searchPage .ticker {
  border: none;
  background-color: whitesmoke;
  /* max-height: ; */
}

.searchPage div:nth-of-type(2) .btn {
  margin: 10px;
}
.CarouslContainer {
  max-width: 80vh;
  margin: auto;
  margin-bottom: 30px;
}
.CarouslContainer h6 {
  position: absolute;
  padding: 2px;
  left: 5px;
  top: 10px;
  background: rgba(255, 255, 255, 0.712);
  color: black;
  font-size: 10px;
  border-radius: 10px;
}
.CarouslContainer div.carousel-caption {
  position: absolute;
  left: 5px;
  top: 10px;
}
.CarouslContainer .carousel-control-next-icon,
.CarouslContainer .carousel-control-prev-icon {
  height: 30px;
  width: 30px;
  border: outset rgb(231, 229, 229) 1px;
  border-radius: 50%;
}
.productPageContainer {
  margin-top: 40px;
  padding: 40px;
  min-height: 600px;
  min-width: 375px;
}
.productVariationInfo {
  border: rgb(204, 197, 197) outset 1px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: left;
  overflow: scroll;
}
.productVariationInfo .productCardDiscounts {
  text-align: center;
}
.CardUnitsFormContainer button {
  background-color: rgb(8, 93, 250);
  color: white;
}
.CardUnitsFormContainer button:nth-of-type(2) {
  margin-left: 10px;
}
.notActiveMessage {
  z-index: 100000000000;
  font-size: 20px;
  position: fixed;
  background: rgba(255, 255, 255, 0.493);
  border-radius: 10px;
  width: fit-content;
  top: 50%;
  left: 50%; /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.notActiveMessageContainer {
  z-index: 1000;

  position: fixed;
  background: rgba(255, 255, 255, 0.493);
  border-radius: 10px;
  top: 50%;
  left: 50%; /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.productVariationInfo img {
  max-width: 200px;
  border-radius: 10px 0px 0px 0px;
}
.productVariationInfo .row {
  margin-right: 0px;
  /* margin-left: 0px; */
}
.productPageVariationsGallry > .productVariationInfo {
  margin-right: 8px;
  margin-left: 8px;
}
.productPageVariationsGallry.row {
  justify-content: center;
}
.productPageUpperInfo {
  margin-left: 13px;
}

.productVariationInfo:hover {
  cursor: pointer;
}
.pro-sidebar .pro-menu,
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul,
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1d1237;
  color: white;
  font-family: initial;
  font-weight: 800;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  display: flex;
}
.pro-sidebar
  .pro-menu
  .pro-menu-item
  > .pro-inner-item
  > .pro-item-content
  > svg {
  margin-left: auto;
  font-size: 28px;
  color: white;
}
.btn.btn-warning {
  /* background-image: linear-gradient(
    to right,
    #f1e209 0%,
    #d3dba3 51%,
    #e1f00f 100%
  );

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px; */
  background-color: rgb(245, 243, 108);
  /* color: white; */
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn.btn-success {
  /* background-color: rgb(
    77,
    199,
    77
  ); 
  background-image: linear-gradient(
    to right,
    #0abb5a 0%,
    #9ce093 51%,
    #23aa40 100%
  );

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  font-weight: 700; */
}
.info-p-registerContainer {
  text-align: right;
  background-color: rgba(231, 216, 231, 0.849);
  padding: 10px;
}
.suppliersPage {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: teal;
  margin-top: 82px;
  min-height: 100vh;
  max-height: fit-content;
}
.suppliersPage > li.suppliersPageCategory {
  margin: 30px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.suppliersPage > li.suppliersPageCategory > ul > li.suppliersPageAccount {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.suppliersPage ul:first-of-type {
  list-style: none;
  text-decoration: underline;
}
.suppliersPage li a {
  color: rgb(239, 255, 225);
}
.suppliersPage li a:hover {
  color: rgb(85, 85, 214);
}

.profileIcon {
  color: rgb(255, 255, 255);
  font-size: 265px;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: -36px;
}
.avatarDiv .m-auto.form-control {
  max-width: 50%;
}
.avatarDiv {
  margin-top: 86px;
  background-color: #1d1237;
  color: white;
  /* background: linear-gradient(
    180deg,
    rgba(131, 184, 215, 1) -62%,
    rgba(225, 237, 255, 0.95) 91%
  ); */
  padding: 30px 0px 0px 0px;
}
/* .avatarDiv p {
  text-align: left;
  padding-left: 36px;
  padding-right: 36px;
  font-family: monospace, sans-serif, Arial, Helvetica;
}
.avatarDiv p:first-of-type {
  font-weight: 800;
} */
/* .avatarDiv .btn {
  margin-top: 30px;
  margin-bottom: -8px;
} */
.storePageOrderInfoRow {
  margin-bottom: 4rem;
}
.storePage.searchPageContainer .searchPage {
  margin-top: 0px;
}
.storePage.searchPageContainer .searchPage .container img {
  left: 14px;
  margin-top: -2px;
  border-radius: 10px;
}
.searchPageContainer {
  padding: 0px !important;
}
.avatarDiv .btn {
  min-width: 243px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  margin-top: 5px;
}
/* .buttonsCol {
  margin-left: -150px !important;
} */
.searchPageContainer .searchPage {
  margin-top: 40px;
}
.productCardsCol {
  padding-top: 0px;
}
.avatarDiv .ticker {
  /* background: gainsboro;
  border: 0.1px outset black; */
  max-height: 70px !important;
}
.ticker h1 {
  max-height: 70px;
  white-space: nowrap;
}
.ticker p {
  margin: 4px !important ;
}
.messagesButton {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  position: fixed;
  border: outset;
  width: 200px;
  bottom: 3px;
  left: 12px;
  z-index: 100000;
}
.btn {
  font-weight: 700 !important;
}
.btn-primary {
  /* background-image: linear-gradient(
    to right,
    #09acf1 0%,
    #367a99 51%,
    #0f9af0 100%
  );

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block; */
  /* color: white; */
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 10px;
/* } */
}
.messagesList {
  font-size: 16px;
  overflow: scroll;
  position: fixed;
  border: 1px;
  border: outset;
  width: 200px;
  border-radius: 10px;
  bottom: 25px;
  left: 13px;
  background-color: #eaf3ff;
  z-index: 10;
  padding: 5px;
  height: 400px;
}

.btn-danger {
  /* background-image: linear-gradient(
    to left,
    #d31027 0%,
    #f599a4 51%,
    #d31027 100%
  );
}
.btn-danger {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block; */
  /* color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px; */
}

.btn:hover {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.messagesButton:hover {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.messagesLi:hover {
  cursor: pointer;
  background-color: rgb(62, 62, 255);
  color: white;
}
.messagesLi {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 800;
  border-bottom: solid gainsboro 0.1px;
  padding: 8px;
}
.modalMessageThreadContainer {
  /* height: 100px; */
  /* overflow-y: scroll; */
}
.messageContainer:nth-of-type(even) {
  background-color: rgb(224, 227, 228);
}
.messageContainer > span:first-of-type {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}
.messageContainer span:nth-of-type(2) {
  font-size: 12px;
  font-weight: 600;
}
.messageContainer {
  padding: 15px;
}
.EditVariationsCard > div:first-of-type {
  border-radius: 10px 0 0 0;
}

.fullPageLoader {
  background-color: rgba(26, 13, 13, 0.788);
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.stickyNav button:last-child {
  margin: auto;
}
.messageContainer > div {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

/* .emailForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.connectComponent {
  margin-top: 20px;
  max-width: 600px !important;
  background: rgba(255, 255, 255, 0.938);
  border-radius: 10px;
  border: 1px outset;
  padding: 0px 30px 50px 30px !important;
}
#g-recaptcha > div:first-of-type {
  margin: auto;
}
.pricingPage {
  background-image: url("https://images.pexels.com/photos/7014946/pexels-photo-7014946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  background-position: top;
  /* padding: 50px; */
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 15px;
  padding-left: 15px;
}
.pricingPage > h1 {
  font-weight: 900;
  max-width: 600px;
  margin: auto;
}
.navbar.navbar-expand.navbar-light.bg-light > .btn.btn-success {
  margin-bottom: -6px;
  margin-top: 0px;
}
.sellerInfoContainer {
  margin: 20px;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.sellerInfoContainer > span:first-of-type {
  font-size: 40px;
  font-weight: 600;
}
.sellerInfoContainer > span:nth-of-type(2) {
  margin-left: 100px;
}

.sellerInfoContainer {
  text-align: right;
  font-weight: 700;
  margin: 20px 0px 10px 20px;
}
.OrderSummeryPage img {
  height: 60px;
  margin: 20px;
}
.directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: scale(0.7);
}
.ordersInfoPageUserInfo {
  /* text-align: right; */
}
.ordersInfoPageUserInfo span,
.ordersInfoPageUserInfo div {
  margin: 20px;
}
.directions a {
  margin: 5px;
}
.supplierChangePrice {
  text-align: center;
}
.navbar-brand {
  color: black !important;
}
span.navbar-toggler-icon {
  color: black !important;
}
.productPageHeadLine {
  margin: auto;
  margin-bottom: 25px;
  font-weight: 900;
}
